*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: dimgray;
    text-align: center;
}

h1{
    padding: 20px;
}

.wrap{
    width: 1200px;
    height: 50px;
    margin: auto;
}

.gameboard{
    width: 600px;
    height: 600px;
    background-color: #000;
    margin: auto;
}

.area{
    display: flex;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.rightBorder{
    border-right: 5px solid #FFF;
}

.topBorder{
    border-top: 5px solid #FFF;
}

.circle{

}

.cross{
    transform: rotate(45deg) translate(50%);
    position: relative;
    border-left: 5px solid #FFF;
    width: 80%;
    height: 80%;
}

.cross::after{
    content: "";
    position: absolute;
    border-top: 5px solid #FFF;
    transform: translate(-100%) translateY(46%);
    width: 100%-10px;
    height: 100%;
}